 /* ポスター表示用のスタイル */
 /* 画像の比率を揃えてタイル表示（高さ揃え） */
 .poster-tile-image {
    overflow: hidden;
    border-radius: 6px;
    display: block;
  }

  .poster-tile-image img {
    display: block;
    width: 100%;
    height: 500px;         /* 固定高さにしてタイル感を出す（必要なら変更） */
    object-fit: cover;     /* 切り抜きつつ枠いっぱいに表示 */
    transition: transform .25s ease, opacity .25s ease;
  }

  /* ホバーで拡大 + 半透明 */
  .poster-tile-image:hover img {
    transform: scale(1.04);
    opacity: 0.7;   /* ←ここで薄くなる */
  }

  /* 画像下のキャプション位置調整 */
  .poster-caption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #4a4a4a;
    text-align: center;
    word-break: break-word;
  }


 /* Tehcnical paper表示用のスタイル */
 /* 画像の比率を揃えてタイル表示（高さ揃え） */
 .paper-tile-image {
  overflow: hidden;
  border-radius: 6px;
  display: block;
}

.paper-tile-image img {
  display: block;
  width: 100%;
  height: 200px;         /* 固定高さにしてタイル感を出す（必要なら変更） */
  object-fit: cover;     /* 切り抜きつつ枠いっぱいに表示 */
  transition: transform .25s ease, opacity .25s ease;
}

/* ホバーで拡大 + 半透明 */
.paper-tile-image:hover img {
  transform: scale(1.04);
  opacity: 0.7;   /* ←ここで薄くなる */
}

/* 画像下のキャプション位置調整 */
.paper-caption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #4a4a4a;
  text-align: center;
  word-break: break-word;
}


 /* Rule book 表示用のスタイル */
 /* 画像の比率を揃えてタイル表示（高さ揃え） */
 .rule-tile-image {
  overflow: hidden;
  border-radius: 6px;
  display: block;
}

.rule-tile-image img {
  display: block;
  width: 100%;
  height: 400px;         /* 固定高さにしてタイル感を出す（必要なら変更） */
  object-fit: cover;     /* 切り抜きつつ枠いっぱいに表示 */
  transition: transform .25s ease, opacity .25s ease;
}

/* ホバーで拡大 + 半透明 */
.rule-tile-image:hover img {
  transform: scale(1.04);
  opacity: 0.7;   /* ←ここで薄くなる */
}

/* 画像下のキャプション位置調整 */
.rule-caption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #4a4a4a;
  text-align: center;
  word-break: break-word;
}
